// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #ffffff !important;
}

.container.header {
  background: #ffffff;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.b2b-ttn {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 15px;
  font-family: Gilroy, "sans-serif";
  font-size: 14px;
  color: #262626;
  min-width: 345px;
}
.b2b-ttn__head {
  width: 217px;
  height: 60px;
  display: flex;
  margin-left: auto;
  img {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
.b2b-ttn__head-text {
  display: flex;
  margin-top: 30px;
  max-width: 540px;
  line-height: 17px;
  p {
    margin: 0;
    padding: 0;
  }
}
.b2b-ttn__requisites {
  margin-top: 90px;
}
.b2b-ttn__table {
  tr {
    td {
      padding-bottom: 30px;
      &:nth-child(even) {
        font-weight: 600;
      }
      &:nth-child(odd) {
        padding-right: 20px;
        width: 1%;
        white-space: nowrap;
      }
    }
    td.no-bold {
      font-weight: 400;
    }
  }
}
.b2b-ttn__check-text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 10px 0 0 0;
    padding: 0;
  }
}
.b2b-ttn__tov {
  margin-top: 50px;
  max-width: 610px;
}
.b2b-ttn__table-big {
  margin: 30px 0 0 0;
  padding: 0;
  table-layout: fixed;
  border-collapse: collapse;
  thead {
    tr {
      border-bottom: 2px solid #f2f3f5;
      th {
        padding-bottom: 15px;
        text-align: right;
        font-weight: 400;
        &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(3) {
          text-align: left;
        }
        &:first-child {
          padding-right: 40px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 15px 0 5px 0;
        text-align: right;
        font-weight: bold;
        &:first-child {
          padding-right: 40px;
        }
        &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(3) {
          text-align: left;
        }
      }
    }
  }
}
.b2b-ttn__amount {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 20px 30px;
  width: 275px;
  padding-top: 15px;
  border-top: 2px solid #f2f3f5;
  margin-left: auto;
  p {
    margin: 0 0 0 auto;
    padding: 0;
    &:nth-child(odd) {
      color: #262626;
    }
    &:nth-child(even) {
      font-weight: bold;
    }
  }
}
.b2b-ttn__letter-total {
  p {
    text-align: right;
    padding-top: 15px;
  }
}
.b2b-ttn__letter-amount-words {
  margin-top: 100px;
}
.b2b-ttn__letter-amount {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  p {
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0 0 0;
    padding: 0;
    &:first-child {
      font-weight: 400;
      font-size: 14px;
      margin: 0;
    }
  }
}
.b2b-ttn__sign {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 50px 0 0 auto;
  p {
    &:first-child {
      font-weight: 500;
      font-size: 24px;
      margin: 0;
      padding: 0 0 10px 0;
      border-bottom: 2px solid #f2f3f5;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}
.mobile-show {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mobile-none {
    display: none !important;
  }
  .mobile-show {
    display: flex;
  }
  .b2b-ttn__head {
    width: 180px;
    height: 50px;
  }
  .b2b-ttn__requisites {
    margin-top: 60px;
  }
  .b2b-ttn__table {
    tr {
      display: flex;
      flex-direction: column;
      td {
        width: 100%;
        &:nth-child(odd) {
          padding-bottom: 10px;
        }
        &:nth-child(even) {
          padding-bottom: 30px;
        }
      }
    }
  }
  .b2b-ttn__check-text {
    margin-top: 80px;
  }
  .b2b-ttn__table-mob-row {
    tr {
      display: flex;
      flex-direction: row;
      td {
        &:nth-child(odd) {
          width: 160px;
        }
      }
    }
  }
  .b2b-ttn__letter-amount {
    margin-top: 90px;
  }
  .b2b-ttn__table-big {
    display: flex;
    font-size: 12px;
    margin: 10px 0 0 0;
    thead {
      display: none;
    }
    tbody {
      display: flex;
      flex-direction: column;
      tr {
        &:nth-child(odd) {
          display: grid;
          grid-template-columns: 17px 90px 217px;
          grid-gap: 15px 10px;
          padding-top: 55px;
          border-top: 2px solid #f2f3f5;
          margin-top: 20px;
        }
        &:nth-child(even) {
          display: grid;
          grid-template-columns: repeat(3, max-content);
          grid-column-gap: 20px;
          grid-row-gap: 17px;
          max-width: 217px;
          margin-left: auto;
          margin-top: 25px;
          td {
            &:nth-child(-n + 3) {
              font-weight: 400;
            }
          }
        }
        td {
          display: flex;
          padding: 0;
          margin: 0;
          position: relative;
          &:first-child {
            padding: 0;
          }
          &:nth-child(-n + 3) {
            &::before {
              position: absolute;
              content: attr(data-label);
              top: -25px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .b2b-ttn__amount {
    width: 217px;
    margin-top: 30px;
    padding-top: 30px;
    margin-left: 130px;
    p {
      &:nth-child(odd) {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  .b2b-ttn__sign {
    width: initial;
    max-width: 345px;
    margin: 90px 0 0 0;
    p {
      &:first-child {
        font-size: 18px;
      }
    }
    b {
      display: flex;
    }
  }
}
